<!DOCTYPE html>
<html>
<head>
	<title>Restaurants</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
	<script type="text/javascript" src="{{url_for('static', filename='js/jquery-3.1.1.min.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
</head>
<body>
	<header>
		<nav class="navbar navbar-default">
		  <div class="container">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <a class="navbar-brand" href="{{url_for('homePage')}}">Restaurants</a>
		    </div>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		     <ul class="nav navbar-nav navbar-left">
			   </ul>
		      <ul class="nav navbar-nav navbar-right">
		      {% if not 'username' in session %}
		      	<a class="btn btn-default navbar-btn" href="{{url_for('showLogin')}}">Login</a>
		      	{% else %}
		      	<span style="margin-right: 20px">Logged in as {{session['username']}}</span>
		      	<a class="btn btn-default navbar-btn" href="{{url_for('disconnect')}}">Logout</a>
		      	{% endif %}
			   </ul>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>
	</header>

	<div class="container">
	{%block page%}
	{% endblock %}
	</div>
</body>
</html>

